<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Posts</title>
    <style>



    </style>
</head>

<body>
    <h1>Latest Blog Posts</h1>

    <div class="blog-post">
        <% post.forEach((post)=> { %>  
            <h3>
                <%= post.title %>
            </h3>
            <p>
                <%= post.content %>
            </p>
            <p>Author: <%= post.author %>
            </p>
            <p>Timestamp: <%= post.timestamp %>
            </p>
            <form class="comment-form" action="/comment" method="post">
                <input type="hidden" name="postId" value="<%= post.id %>">
                <textarea name="commentContent" placeholder="Your Comment" rows="3" required></textarea><br>
                <input type="submit" value="Post Comment">
            </form>

            <h4>Comments:</h4>
            <ul>
                <% post.comments.forEach(function(comment) { %>
                    <li>
                        <%= comment.author %>: <%= comment.content %> (<%= comment.timestamp %>)
                    </li>
                    <% }); %>
            </ul>
            <% }); %>
    </div>

</body>

</html>